SeranfuenMirrorSyncWcfClient/Connected Services/ServiceReference/SeranfuenMirrorSyncLib.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Controllers" />
  <xs:complexType name="ArrayOfScheduleBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleBase" nillable="true" type="tns:ScheduleBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleBase" nillable="true" type="tns:ArrayOfScheduleBase" />
  <xs:complexType name="ScheduleBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinationPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastTimeRun" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SourcePaths" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleBase" nillable="true" type="tns:ScheduleBase" />
  <xs:complexType name="WeekdaySchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScheduleBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DaysOfWeek" nillable="true" type="tns:DaysOfWeek" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Controllers" minOccurs="0" name="Time" nillable="true" type="q2:Time" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WeekdaySchedule" nillable="true" type="tns:WeekdaySchedule" />
  <xs:complexType name="DaysOfWeek">
    <xs:sequence>
      <xs:element minOccurs="0" name="Friday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Monday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Saturday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sunday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Thursday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tuesday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Wednesday" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DaysOfWeek" nillable="true" type="tns:DaysOfWeek" />
  <xs:complexType name="ManualSchedule">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScheduleBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManualSchedule" nillable="true" type="tns:ManualSchedule" />
</xs:schema>