SeranfuenMirrorSyncWcfClient/Connected Services/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Data" />
  <xs:element name="RunSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceRoot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mirrorRoot" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileFilters" nillable="true" type="q1:ArrayOfanyType" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="directoryFilters" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSyncResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSyncStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterCompletedActions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSyncStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentSyncStatusResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorySyncStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceRoot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mirrorRoot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorySyncStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Data" minOccurs="0" name="GetHistorySyncStatusResult" nillable="true" type="q3:ArrayOfSourceMirrorSyncStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCurrentSync">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCurrentSyncResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSchedules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Data" minOccurs="0" name="schedules" nillable="true" type="q4:ArrayOfScheduleBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSchedulesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Data" minOccurs="0" name="GetSchedulesResult" nillable="true" type="q5:ArrayOfScheduleBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>