SeranfuenMirrorSyncWcfClient/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SeranfuenMirrorSyncLib.Controllers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISyncService_RunSync_InputMessage">
    <wsdl:part name="parameters" element="tns:RunSync" />
  </wsdl:message>
  <wsdl:message name="ISyncService_RunSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunSyncResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCurrentSyncStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSyncStatus" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetCurrentSyncStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSyncStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetHistorySyncStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistorySyncStatus" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetHistorySyncStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistorySyncStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_CancelCurrentSync_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCurrentSync" />
  </wsdl:message>
  <wsdl:message name="ISyncService_CancelCurrentSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCurrentSyncResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SetSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSchedules" />
  </wsdl:message>
  <wsdl:message name="ISyncService_SetSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedules" />
  </wsdl:message>
  <wsdl:message name="ISyncService_GetSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISyncService">
    <wsdl:operation name="RunSync">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/RunSync" message="tns:ISyncService_RunSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/RunSyncResponse" message="tns:ISyncService_RunSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSyncStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetCurrentSyncStatus" message="tns:ISyncService_GetCurrentSyncStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetCurrentSyncStatusResponse" message="tns:ISyncService_GetCurrentSyncStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistorySyncStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetHistorySyncStatus" message="tns:ISyncService_GetHistorySyncStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetHistorySyncStatusResponse" message="tns:ISyncService_GetHistorySyncStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCurrentSync">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/CancelCurrentSync" message="tns:ISyncService_CancelCurrentSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/CancelCurrentSyncResponse" message="tns:ISyncService_CancelCurrentSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/SetSchedules" message="tns:ISyncService_SetSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/SetSchedulesResponse" message="tns:ISyncService_SetSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncService/GetSchedules" message="tns:ISyncService_GetSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISyncService/GetSchedulesResponse" message="tns:ISyncService_GetSchedules_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISyncService" type="tns:ISyncService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunSync">
      <soap:operation soapAction="http://tempuri.org/ISyncService/RunSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSyncStatus">
      <soap:operation soapAction="http://tempuri.org/ISyncService/GetCurrentSyncStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistorySyncStatus">
      <soap:operation soapAction="http://tempuri.org/ISyncService/GetHistorySyncStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCurrentSync">
      <soap:operation soapAction="http://tempuri.org/ISyncService/CancelCurrentSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchedules">
      <soap:operation soapAction="http://tempuri.org/ISyncService/SetSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedules">
      <soap:operation soapAction="http://tempuri.org/ISyncService/GetSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncService">
    <wsdl:port name="BasicHttpBinding_ISyncService" binding="tns:BasicHttpBinding_ISyncService">
      <soap:address location="http://localhost:8733/SeranfuenMirrorSyncWcfService/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>